// Media Queries
$min-small-devices: "only screen and (min-width: 576px)";
$min-medium-devices: "only screen and (min-width: 768px)";
$min-large-devices: "only screen and (min-width: 992px)";
$min-x-large-devices : "only screen and (min-width: 1200px)";
$min-xx-large-devices : "only screen and (min-width: 1400px)";