body {
    font-family: 'Rubik', sans-serif !important;
    color: white !important;
    background-color: $body-bg-color !important;
}

h1 {
    font-family: 'American Captain', 'Odibee sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    font-family: 'American Captain', 'Odibee sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

h5 {
    margin-bottom: 0.5rem !important;
}

.section {
    @extend .mt-4;
    @extend .mt-md-5;
    @extend .mt-lg-6;
}

.title {
    @extend .mb-2;
    @extend .mb-md-4;
    @extend .text-capitalize;
}

img {
    @extend .img-fluid;
    object-fit: cover;
}

@import url(//db.onlinewebfonts.com/c/a6bec1c4ef2d2fd1bac5a6951f5f32a3?family=American+Captain);

@font-face {
    font-family: 'American Captain';
    src: url('//db.onlinewebfonts.com/t/a6bec1c4ef2d2fd1bac5a6951f5f32a3.eot');
    src: url('//db.onlinewebfonts.com/t/a6bec1c4ef2d2fd1bac5a6951f5f32a3.eot?#iefix') format('embedded-opentype'),
        url('//db.onlinewebfonts.com/t/a6bec1c4ef2d2fd1bac5a6951f5f32a3.woff2') format('woff2'),
        url('//db.onlinewebfonts.com/t/a6bec1c4ef2d2fd1bac5a6951f5f32a3.woff') format('woff'),
        url('//db.onlinewebfonts.com/t/a6bec1c4ef2d2fd1bac5a6951f5f32a3.ttf') format('truetype'),
        url('//db.onlinewebfonts.com/t/a6bec1c4ef2d2fd1bac5a6951f5f32a3.svg#American Captain') format('svg');
}

.home {
    .noticias-home {
        @extend .container;
        img {
            width: 100%;
        }
    }
}
