.section-2 {
    background-image: url('../assets/img/bg-section2.svg');
    background-size: cover;

    .link {
        @extend .d-flex;
        @extend .flex-column;
        @extend .align-items-center;
        @extend .justify-content-center;
        @extend .text-center;
    }

    a {
        text-decoration: none;

        img {
            max-width: 150px;
            transition: all 0.2s ease-in-out; /* Animation */

            &:hover {
                transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            }
        }
    }
    h4 {
        text-transform: uppercase;
        color: white;
    }
}
