//colores
$primary:   #000000;
$secondary: #f3b402;
$bg-gray:   #151515;

//card
$card-inner-border-radius: 0;

//accordion
$accordion-border-radius: 0;
$accordion-icon-color: $secondary;
$accordion-icon-active-color: $secondary;

//navbar
$navbar-dark-active-color: $secondary;

//Utilities
$border-color: $secondary;